[Unit]
Description=Django Webserver
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=ec2-user
ExecStart=/bin/bash /home/ec2-user/startup.sh

[Install]
WantedBy=multi-user.target