<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donuts</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>
  <body>
    <div class="has-text-centered">
      <p
        class="title is-1 is-uppercase is-family-sans-seriff mb-6 py-3"
        style="color: #ffc800"
      >
        Donuts
      </p>
    </div>
    <div class="columns is-multiline mx-5">
      {%if donutData%} {%for donut in donutData%}
      <div class="column is-one-quarter has-text-centered my-2">
        <p class="is-centered subtitle is-4 has-text-warning-dark">
          {{donut.name}}
        </p>
        <img src="{{donut.img_url}}" />
      </div>
      {% endfor %} {%endif%}
    </div>
  </body>
</html>
